.tab-container {
    background-color: rgba(250, 250, 250, 0.5) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.tab-style {
    width: 50%;
    background-color:rgba(250, 250, 250, 0.5) !important;
    margin: none !important;
    padding: none !important;
}

.tabs {
 background-color: rgba(250, 250, 250, 0.5) !important;
}

.react-swipeable-view-container>div {
    overflow: hidden !important;
}

@media only screen and (max-width: 770px) {
    .tab-style {
      width: 100%;
    }

} 