.tab-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.tab-style {
    width: 50%;
    background-color:rgb(244, 246, 248);  
}

.tabs {

}

.react-swipeable-view-container>div {
    overflow: hidden !important;
}

.datatable {
    /* width: 10%; */
}

@media only screen and (max-width: 770px) {
    .tab-style {
      width: 100%;
    }

} 