.about-main{
    font-family: 'Courier New', Courier, monospace !important;
}

.react-logo {
  height: 128px;
  width: 170px;
}

.project-logo {
    height: 128px;
    width: 128px;
}

  .main-span{
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 30px;
    font-family: bold;
}

.react-span{
    color: rgba(0, 0, 255, 0.5);
}

.mui-span{
  color: rgba(0, 255, 0, 0.5);
}

.net-span{
  color: rgba(255, 0, 0, 0.5);
}
  
  @media only screen and (max-width: 770px) {

    .project-logo {
        height: 64px;
        width: 64px;
      }

      .react-logo {
        height: 64px;
        width: 88px;
      }
}
