.about-main{
    font-family: 'Courier New', Courier, monospace !important;
}
.project-logo {
    height: 128px;
    width: 128px;
  }
  
  @media only screen and (max-width: 770px) {

    .project-logo {
        height: 64px;
        width: 64px;
      }

}
