.card-span{
  color:#29c7ac;
}

.subheader{
  color:#f2a365;
  font-size:1.5em !important;
}

.react-logo {
  height: 128px;
  width: 170px;
}

.project-logo {
    height: 128px;
    width: 128px;
}

  .main-span{
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 30px;
    font-weight: bolder !important;
    letter-spacing:none !important;
}

.react-span{
    color: #61dbfb;
}

.mui-span{
  color: #00b0ff;
}

.net-span{
  color:#25c7b7;
}
  
  @media only screen and (max-width: 770px) {

    .project-logo {
        height: 64px;
        width: 64px;
      }

      .react-logo {
        height: 64px;
        width: 88px;
      }
}
