.table{
background-color:rgba(250, 250, 250, 0.5) !important;
}

.random{
    background-color:rgba(250, 250, 250, 0.5) !important;
    }

.datatable-container {
    background-color:rgba(250, 250, 250, 0.5) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}caption

.state-name{
    font-weight: bold !important;
}

.counterConfirmed{
    color: rgba(0, 0, 255, 0.8);
}

.counterRecovered{
    color: rgba(0, 255, 0, 0.8);
}

.counterDeaths{
    color: rgba(255, 0, 0, 0.8);
}


.paper {
    width: 60%;
}

.t-head {
    font-weight: bold;
}

@media only screen and (max-width: 770px) {
    .datatable-container{
        font-size: 40px !important;
    }
    .paper{
        width: 100%;
    }
    .table-cell {
        padding-left: 2vw !important;
        padding-right: 2vw !important;
        font-size: 2.5vw !important;
    }
    .t-head {
        font-size: 2.5vw !important;
    }
}