.table{
border: none !important; 
}

.datatable-container {
    border: none !important; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.state-name{
    font-weight: bold !important;
}

.counterConfirmed{
    color: rgba(187, 134, 252, 1);
}

.counterRecovered{
    color: rgba(0, 255, 0, 0.8);
}

.counterDeaths{
    color: rgba(255, 0, 0, 0.8);
}

.table-cell{
    background-color: transparent !important;
    border-bottom: none !important; 
}

.paper {
    width: 60%;
    border: none !important; 

}

.t-head {
    font-weight: bold;
    
}

@media only screen and (max-width: 770px) {

    .datatable-container{
        font-size: 40px !important;
    }
    .paper{
        width: 90%;
    
    }
    .table-cell {
        border-bottom: none !important; 
        padding-left: 1.5vw !important;
        padding-right: 1.5vw !important;
        font-size: 2.5vw !important;
    }
    .t-head {
        font-size: 2.5vw !important;
    }
}